.property-detail {
    width: 100%;
    max-width: calc(100% - 200px);
    padding: 20px 100px 0;
    font-family: 'Montserrat', sans-serif;
  }

  .slideshow {
    margin-bottom: 20px; 
  }

  .property-main-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .logement-info {
    flex: 1;
    text-align: left;
  }
  
  .property-title {
    font-size: 35px;
    margin-bottom: 10px;
    color: #FF6060; 
  }
  
  .location {
    font-size: 18px;
    color: black;
    margin-bottom: 20px;
  }
  
  .tag {
    display: inline-block;
    background-color: #FF6060; 
    color: white;
    padding: 5px 30px;
    margin-right: 10px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #FF6060; 
  }
  
  .logement-host {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px; 
    margin-top: 20px;
  }

.description-equipments {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 1240px;
}

  .property-description, .property-equipments {
    width: calc(50% - 45px);
  }
  
  .property-equipments ul, .property-description p{
    padding-top: 10px;
    padding-left: 20px;
  }
  
  .property-equipments li {
    list-style-type: none;
  }