.slider {
    position: relative;
    width: 100%;
    max-width: 100%;
    padding-top: 50px;
  }
  
  .slider-image {
    width: 100%;
    height: 500px;
    border-radius: 8px;
    object-fit: cover;
  }

  .slider-button {
    position: absolute;
    top: 50%;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
  }

.prev-button,
.next-button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 80px;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: transform 0.3s ease; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

.prev-button:hover,
.next-button:hover {
  transform: scale(1.3); 
}

.slider-number {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  background-color:transparent;
  font-family: Montserrat;
  color: white;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 18px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}