.host-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.host-name {
    font-size: 20px;
    font-weight: 500;
    color: #FF6060;
    text-align: right; 
    max-width: 100px; 
    white-space: normal; 
}

.host-image {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #FF6060;
    object-fit: cover;
}

@media (min-width: 320px) and (max-width: 815px) {
    .host-name {
        font-size: 12px;
    }
    
    .host-image {
        width: 45px;
        height: 45px;
    }
}